# wrds_utils

> Common utilities needed to download and process data from WRDS

In [ ]:
#| default_exp wrds_utils

In [ ]:
#| exports
from typing import Sequence
import os

import pandas as pd
import wrds

## Examples of useful features of `wrds` library

In [ ]:
#| eval: false
db = wrds.Connection(wrds_username=os.getenv('WRDS_USERNAME'))

Loading library list...
Done

In [ ]:
#| eval: false
db.list_libraries()[:5]

['aha_sample', 'ahasamp', 'audit', 'audit_acct_os', 'audit_audit_comp']

In [ ]:
#| eval: false
db.list_tables(library='crsp')[:5]

['acti', 'asia', 'asib', 'asic', 'asio']

In [ ]:
#| eval: false
db.describe_table(library='comp',table='funda').iloc[:5]

Approximately 879510 rows in comp.funda.

       name  nullable              type comment
0     gvkey      True        VARCHAR(6)    None
1  datadate      True              DATE    None
2     fyear      True  DOUBLE_PRECISION    None
3    indfmt      True       VARCHAR(12)    None
4    consol      True        VARCHAR(2)    None

In [ ]:
#| eval: false
db.get_table(library='ff', 
             table='factors_monthly',
             columns=['date','mktrf','smb','hml','rf'],
             obs=5)

         date   mktrf     smb     hml      rf
0  1926-07-01  0.0296 -0.0256 -0.0243  0.0022
1  1926-08-01  0.0264 -0.0117  0.0382  0.0025
2  1926-09-01  0.0036 -0.0140  0.0013  0.0023
3  1926-10-01 -0.0324 -0.0009  0.0070  0.0032
4  1926-11-01  0.0253 -0.0010 -0.0051  0.0031

In [ ]:
#| eval: false
db.close()

## Key functions used throughout the `wrds_` modules in this package

In [ ]:
#| export
def download(sql_string: str=None,
             wrds_username: str=None, #If None, looks for WRDS_USERNAME with `os.getenv`, then prompts you if needed
             params: Sequence=None # Params cited in the `sql_string`
             ) -> pd.DataFrame:
    """Downloads data from WRDS using the given PostgreSQL `sql_string`"""

    if wrds_username is None:
        wrds_username = os.getenv('WRDS_USERNAME')
        if wrds_username is None: wrds_username = input("Enter your WRDS username: ") 

    dbconn = wrds.Connection(wrds_username = wrds_username)
    try : df = dbconn.raw_sql(sql=sql_string, params=params)
    finally: dbconn.close() 
    return df

In [ ]:
#| hide
import nbdev; nbdev.nbdev_export()