# wrds_utils

> Common utilities needed to download and process data from WRDS

In [ ]:
#| default_exp wrds_utils

In [ ]:
#| exports
from __future__ import annotations
from typing import List, Dict, Tuple, Callable, Sequence
import os

import pandas as pd
import numpy as np
import wrds

## Examples of useful features of `wrds` library

In [ ]:
db = wrds.Connection(wrds_username=os.getenv('WRDS_USERNAME'))

Loading library list...
Done

In [ ]:
db.list_libraries()[:5]

['aha_sample', 'ahasamp', 'audit', 'audit_acct_os', 'audit_audit_comp']

In [ ]:
db.list_tables(library='crsp')[:5]

['acti', 'asia', 'asib', 'asic', 'asio']

In [ ]:
db.describe_table(library='comp',table='funda').iloc[:5]

Approximately 879510 rows in comp.funda.

       name  nullable              type comment
0     gvkey      True        VARCHAR(6)    None
1  datadate      True              DATE    None
2     fyear      True  DOUBLE_PRECISION    None
3    indfmt      True       VARCHAR(12)    None
4    consol      True        VARCHAR(2)    None

In [ ]:
db.get_table(library='ff', table='factors_monthly').head(0)

Empty DataFrame
Columns: [date, mktrf, smb, hml, rf, year, month, umd, dateff]
Index: []

In [ ]:
db.close()

In [ ]:
#| export
def download(sql_string: str=None,
             wrds_username: str=None, #If None, looks for WRDS_USERNAME with `os.getenv`, then prompts you if needed
             params: Sequence=None # Params cited in the `sql_string`
             ) -> pd.DataFrame:
    """Downloads data from WRDS using the given PostgreSQL `sql_string`"""

    if wrds_username is None:
        wrds_username = os.getenv('WRDS_USERNAME')
        if wrds_username is None: wrds_username = input("Enter your WRDS username: ") 

    dbconn = wrds.Connection(wrds_username = wrds_username)
    try : df = dbconn.raw_sql(sql=sql_string, params=params)
    finally: dbconn.close() 
    return df

In [ ]:
#| hide
import nbdev; nbdev.nbdev_export()